---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import { humanTimestamp, machineTimestamp } from "../../utils/timestamp.js";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout title={entry.data.title}>
  <Header />
  <main class="w-full max-w-2xl mx-auto px-4">
    <header class="my-8 space-y-2">
      <h1 class="text-4xl font-extrabold text-accent-600 dark:text-accent-200"
        >{entry.data.title}</h1
      >
      <p
        class="text-md font-semibold text-accent-600 dark:text-accent-200 opacity-80"
        title={machineTimestamp(entry.data.pubDate)}
        >Published on
        <time datetime={machineTimestamp(entry.data.pubDate)}
          >{humanTimestamp(entry.data.pubDate)}</time
        ></p
      >
      <p
        class="text-md font-semibold text-accent-600 dark:text-accent-200 opacity-80"
        >By
        <a
          href={entry.data.authorUrl}
          class="underline hover:opacity-70 dark:border-accent-200"
          >{entry.data.author}</a
        ></p
      >
    </header>
    <div
      class="max-w-none prose prose-brioche prose-quoteless dark:prose-invert"
    >
      <Content />
    </div>
  </main>
</BaseLayout>
