---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import BlogBlurb from "../../components/BlogBlurb.astro";
import { humanTimestamp, machineTimestamp } from "../../utils/timestamp.js";
import "@astrojs/starlight/style/markdown.css";
import "../../styles/starlight-anchor-links.css";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout title={entry.data.title}>
  <style is:global>
    .sl-markdown-content {
      font-family: var(--__sl-font);
      line-height: var(--sl-line-height);
      color: var(--sl-color-text);
    }

    .sl-markdown-content ul,
    .sl-markdown-content ol {
      padding-left: 2.5rem;
    }

    .sl-markdown-content ol {
      list-style: decimal;
    }

    .sl-markdown-content ul {
      list-style: disc;
    }

    .sl-markdown-content > .footnotes {
      padding-top: 2rem;
    }

    .sl-markdown-content > .footnotes .sl-anchor-link {
      display: none;
    }
  </style>
  <Header />
  <main class="w-full max-w-2xl mx-auto px-4">
    <header class="my-8 space-y-2">
      <h1 class="text-4xl font-extrabold text-accent-600 dark:text-accent-200"
        >{entry.data.title}</h1
      >
      {
        entry.data.pubDate != null ? (
          <p
            class="text-md font-semibold text-accent-600 dark:text-accent-200 opacity-80"
            title={machineTimestamp(entry.data.pubDate)}
          >
            Published on
            <time datetime={machineTimestamp(entry.data.pubDate)}>
              {humanTimestamp(entry.data.pubDate)}
            </time>
          </p>
        ) : (
          <p class="text-md font-semibold text-accent-600 dark:text-accent-200 opacity-80 italic">
            Draft
          </p>
        )
      }
      <p
        class="text-md font-semibold text-accent-600 dark:text-accent-200 opacity-80"
        >By
        <a
          href={entry.data.authorUrl}
          class="underline hover:opacity-70 dark:border-accent-200"
          >{entry.data.author}</a
        ></p
      >
    </header>
    {entry.data.showBlurb === true ? <BlogBlurb /> : null}
    <div class="max-w-none sl-markdown-content">
      <Content />
    </div>
  </main>
</BaseLayout>
