---
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import type { icons } from "../assets/icons";
import Logo from "../assets/Logo.astro";
import Icon from "../assets/Icon.astro";
import Link from "./Link.astro";

interface NavLink {
  label: string;
  href: string;
}

interface SocialLink {
  label: string;
  icon: keyof typeof icons;
  href: string;
}

const navLinks: NavLink[] = [
  {
    label: "Docs",
    href: "/docs",
  },
  {
    label: "Packages",
    href: "/packages",
  },
  {
    label: "Blog",
    href: "/blog",
  },
];

const socialLinks: SocialLink[] = [
  {
    label: "Zulip",
    icon: "zulip",
    href: "https://brioche.zulipchat.com/",
  },
  {
    label: "Discord",
    icon: "discord",
    href: "https://discord.gg/cw5QeWv4E5",
  },
  {
    label: "GitHub",
    icon: "github",
    href: "https://github.com/brioche-dev",
  },
];
---

<header>
  <div
    class="w-full bg-gray-100 text-accent-600 px-6 py-3 border-gray-200 border-b flex flex-row items-center dark:bg-gray-800 dark:text-accent-200 dark:border-gray-900"
  >
    <div class="flex-grow flex flex-row flex-wrap items-center gap-x-8">
      <a
        href="/"
        class="text-2xl font-semibold inline-flex items-center gap-4 lg:gap-6"
      >
        <span class="inline-block w-10 h-10">
          <Logo />
        </span>
        Brioche
      </a>
      <nav class="inline-flex gap-4 mt-[0.40rem]">
        {
          navLinks.map((link) => (
            <Link nav href={link.href} class="!no-underline">
              {link.label}
            </Link>
          ))
        }
      </nav>
    </div>
    <div
      class="flex flex-row items-center gap-4 sm:divide-x divide-gray-300 dark:divide-gray-700"
    >
      <div class="hidden sm:flex sm:flex-row gap-4">
        {
          socialLinks.map((link) => (
            <a href={link.href} class="hover:opacity-65" title={link.label}>
              <span class="sr-only">{link.label}</span>
              <Icon name={link.icon} />
            </a>
          ))
        }
      </div>
      <div class="hidden pl-4 text-sm sm:block">
        <ThemeSelect />
      </div>
    </div>
  </div>
  <div
    class="h-12 w-full bg-gray-100 text-accent-600 px-6 py-3 border-gray-200 border-b flex flex-row justify-between items-center dark:bg-gray-800 dark:text-accent-200 dark:border-gray-900 sm:hidden"
  >
    <nav class="flex flex-row gap-4">
      {
        socialLinks.map((link) => (
          <a href={link.href} class="hover:opacity-65">
            <span class="sr-only">{link.label}</span>
            <Icon name={link.icon} />
          </a>
        ))
      }
    </nav>
    <div class="pl-4 text-sm">
      <ThemeSelect />
    </div>
  </div>
</header>
